<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600">
		<link href="{{ url_for('static', filename='css/main/css') }}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	</head>
	<body>

	<header>
		<div class="container">
			<h1 class="title"> Learning Flask</h1>
		</div>
	</header>

	{% block content %}
	{% endblock %}


	</body>
</html>